.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: #FFF;
}

.overlay{
  background-image:url(../../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover; 
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 24.06rem;
  height: 29.66rem;
  margin: 0 auto;
  background-image: url(../../assets/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.div-align {
  position: relative;
  top: 17rem;
  left: 9.7rem;
  
}

.btn-dimention {
  border-radius: 28px;
  width: 6rem;
  height: 1.92rem;
  text-align: center;
  background-color: #8B5EC5;
}

.bold{
  font-weight: bold;
}

.center {
  padding-bottom: 5px;
}

.text-prop {
  font-size: 0.7rem;
  width: 10rem;
  position: relative;
  top: 17.8rem;
  left: 7.8rem;
  text-align: center;
}

.font-white{
  color: #FFF;
}